<div class="container">
  <div class="jumbotron">
    <h1 style="color:black">About</h1>      
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info" style="background-color: white">
        <div class="panel-body">
          <h4>Overview</h4>
          <br>
          <p>GrouBL is an application designed to allow groups of friends to create, pick and track their group bets. The purpose is to provide a more structured platform to manager fun football bets between friends and family </p>
          <h4>Features</h4>
          <br>
          <h5>Connect</h5>
          <p>Once registered connect with your family or friends and create groups.</p>
          <h5>Create</h5>
          <p>Create a bet type, frequency and amount for your group to bet on. </p>
          <h5>Track</h5>
          <p>Get notifications when you are due to make a bet selection. Use the application to track your group and individual betting success rate.</p>
          <br>

          <p><a href="mailto:admin@grouBL.com"><img src="/images/GrouBL-logos_transparent_crop.png" style="width:107px; height:50px"></a></p>
          <p><a href="https://twitter.com/grouBL?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @groupbetlogger</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>
          
          </div>
      </div>
  </div>
  </div>
  </div>
