<div class="container">
  <div class="row">

    <div class="col-md-6 offset-md-3">
      <h1 style='color:white; text-align: center;'><%= userEditSelection.user %></h1>

    </div>
  </div>
  <br/>

    <div class="row">

      <div class="col-md-6 offset-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 style='text-align: center;'>Group Members</h4>
          </div>
          <div class="panel-body">
           </div>
        </div> 
      </div>

    </div>



</div>
