<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1 style='color:white; text-align: center;'>Bets</h1>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <br/>
  <div class="row">
  </div>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style='text-align: center;' >
      <h2><a id='addbet' style='color:white; text-align: center;' href=/add-bet>Add Bet</a></h2>
    </div>
    <div class="col-md-4">
    </div>
  </div>

</div>
