<content>
  <form id='authenticate' action='/login' autocomplete='off' method='POST'>
    <input class='authenticate' type='email' name='email' placeholder='Email' required>
  </form>
  <div id='auth-container'>
    <input class='NavButton centre' form='authenticate' type='submit' value='Reset'>
  </div>
  <% if (typeof error !== "undefined") { %><div id='flash'><%= error %></div><% } %>
</content>
