extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner GROUP BET LOGGER
    div.Message
      div.Title
        h3 Pick Your Bets
        h1 Win Together
      span.Details Access the Group Bet Logger
    div.NavButtons
      a(href="/user")
          div.NavButton Enter
