<html>
  <head>
    <meta charset="utf-8"><link rel="shortcut icon" href="/favicon.ico"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta name="theme-color" content="#000000"><title>Home | GROUP BET LOGGER</title><link rel="stylesheet" href="css/style.css">
  </head>
<body>
  <div class="View WelcomeView"><h1 class="Banner">GROUP BET LOGGER</h1>
    <%- body %>
  </div>
</body>
</html>
