
  <div id='flash'> Hi, <%= user %></div>

  <div class="container">
    <h1 style="color: white">Fixtures</h1>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#today">Today 13th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#tuesday">Tuesday 14th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#wednesday">Wednesday 15th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#thursday">Thursday 16th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#friday">Friday 17th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#saturday">Saturday 18th April</button>
    <button type="button" class="btn" style="background-color: white" data-toggle="collapse" data-target="#sunday">Sunday 19th April</button>

    <div id="today" class="collapse in" style="background-color: white">
      <h1>Monday 13th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="tuesday" class="collapse in" style="background-color: white">
      <h1>Tuesday 14th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="wednesday" class="collapse in" style="background-color: white">
      <h1>Wednesday 15th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="thursday" class="collapse in" style="background-color: white">
      <h1>Thursday 16th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="friday" class="collapse in" style="background-color: white">
      <h1>Friday 17th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="saturday" class="collapse in" style="background-color: white">
      <h1>Saturday 18th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>

    <div id="sunday" class="collapse in" style="background-color: white">
      <h1>Sunday 19th April</h1>
      <h2>Premier League</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
      <h2>Championship</h2>
      <p>Example v Example</p>
      <p>Example v Example</p>
    </div>
  </div>
