<content>    
    <form id='authenticate' action='/register' autocomplete='off' method='POST'>
      <input class='authenticate' type='firstname' name='firstname' placeholder='First Name' required>
      <input class='authenticate' type='surname' name='surname' placeholder='Surname' required>
      <input class='authenticate' type='email' name='email' placeholder='Email' required>
      <input class='authenticate' type='password' name='password' placeholder='Password' required>
    </form>
    <div id='auth-container'>
      <input class='NavButton centre' form='authenticate' type='submit' value='Register'>
    </div>
    <% if (typeof error !== "undefined") { %><div id='flash'><%= error %></div><% } %>
  </content>

